:root {
    --outfitFont: 'Outfit', sans-serif;
    --poppinsFont: 'Poppins', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
    box-shadow: 0 0 2px gray;
    padding: 1.22rem;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(-10px);
    filter: blur(50);
}

.nav-logo {
    font-family: var(--outfitFont);
    font-size: 30px;
    font-weight: 500;

}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 15px;
    gap: 50px;
}

.nav-contact {
    border-radius: 50px;
    padding: 10px 38px;
    background: white;
    color: #262626;
    cursor: pointer;
}

/* ======= HAMBURGER MENU ======= */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
}

/* ======= MOBILE RESPONSIVE ======= */
@media (max-width: 480px) {
    .nav {
        margin: 15px 10px;
        padding: 0.8rem;
    }

    .nav-menu {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: black;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        display: none;
    }

    .nav-menu.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}
