.hero {
    margin: 0px 120px;
    margin-top: 10px;
}

.hero-text {
    color: white;
    font-size: 50px;
    font-weight: 500;
    line-height: 80px;
    text-transform: capitalize;

}

.hero-explore {
    display: flex;
    align-items: center;
    gap: 30px;
    width: fit-content;
    margin-top: 50px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    cursor: pointer;
    background-color: white;
}

.hero-explore p {
    color: #292929;
    font-size: 20px;
    font-weight: 500;
}

.hero-dot-play {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.hero-dots {
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}

.hero-dots li {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}

.hero-dots .orange {
    background-color: orange;
}

.hero-play {
    display: flex;
    align-items: center;
    gap: 30px;

}
.hero-play p{
    color: white;
    font-size: 19px;
}