/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap'); */
:root {
  --outfitFont: 'Outfit', sans-serif;
  --poppinsFont: 'Poppins', sans-serif;
}

body {
  color: white;
  height:auto;
  font-family: 'Outfit', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}